* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero{
    width: 100%;
    min-height: 100vh;
    background: #3b3b3b;
    color: rgb(0, 0, 0);
    font-weight: bold;
    display: flex;
}

.hero .container{
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    background-color: #a0a0a0;
}

.hero .container .randomNum{
    background: #68655b;
    padding: 20px;
    min-width: 100%; 
}

.hero .container .randomNum p span {
    color: rgb(255, 153, 0);
    font-weight: bold;
}

.hero  .numContainer{
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
    min-width: 100%;
}

.hero .container div{
    width: 100%;
    max-width: 42%;
}

.hero .numContainer div input{
    padding: 8px;
    border: none;
    outline: none;
    width: 100%;
    background: #646157;
    color: rgb(253, 194, 0);
    font-weight: bold;
}

.hero .container button{
    align-items: flex-end;
    border: none;
    outline: none;
    background: #f1ad00;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 14px;
    width: 100%;
    font-size: 22px;
    cursor: pointer;
    transition: .4s;
}

.hero .container button:hover{
    background-color: rgb(0, 0, 0);
    color: #ffb700;
}